
*.plist

xcode/build/Debug/HW04_Sonodabe.app/Contents/MacOS/HW04_Sonodabe

xcode/build/Debug/HW04_Sonodabe.app/Contents/PkgInfo

*.icns

*.dep

*.LinkFileList

*.d

*.o

*.xcuserstate

*.hmap

*.dat

xcode/HW04_Sonodabe.xcodeproj/project.xcworkspace/xcuserdata/brandonsonoda.xcuserdatad/UserInterfaceState.xcuserstate

*.hmap

xcode/build/HW04_Sonodabe.build/Debug/HW04_Sonodabe.build/HW04_Sonodabe-project-headers.hmap

xcode/build/HW04_Sonodabe.build/Debug/HW04_Sonodabe.build/HW04_Sonodabe.hmap

.DS_Store
